<% provide(:title, "Home") %>
<%= render 'layouts/header_home' %>
 <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "carousel_1.jpg" %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
         <%= image_tag "carousel_2.jpg" %>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
         <%= image_tag "carousel_3.jpg" %>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
	<div class="about">
		<section id="about">
			<center>
				<h1> ABOUT US</h1>
				<h6></h6>
			</center>
		</section>
	</div>
	<div class="table">
		<section id="table">
			<center>
				<h1> INFORMATION </h1>
				<h6></h6>
			</center>
		</section>
	</div>
	<div class="contacts">
		<section id="contacts">
			<center>
				<h1> CONTACT US </h1>
				<h6></h6>
			</center>
		</section>
		<center>
			<button> CONTACT US  </button></center>
	</div>