<% provide(:title, @user.name) %>
<%= render 'layouts/user_header' %>

<div class="row">
    <%= render 'layouts/user_navbar' %>

    <div class="col s10">
      <div class="card white">

        <div class="card-content dark-text">
            <span class="card-title black-text">
              Ласкаво просимо до Вашого особистого кабінету,  <%= @user.name %>!
            </span>
          <p>Тут ви зможете ознайомитись з тестуванням, налаштуваннями профілю та особистими результатами.</p><br>

          <div class="row">
            <div class="col s4">
              <div class="center promo">
                <div class="circle responsible-img">
                  <i class="mdi-toggle-check-box"></i>
                </div>
                <p class="promo-caption">Зручне тестування</p>
                <p class="light center">За допомогою нашої системи ви зможете оцінити рівень Ваших знань у вібраній області.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="mdi-action-account-balance"></i>
                <p class="promo-caption">Зв’язок з компаніями</p>
                <p class="light center">Наша система забезпечую зв’язок користупачів безпосередньо з компаніями. </p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="mdi-action-trending-up"></i>
                <p class="promo-caption"> Вдосконалення знань</p>
                <p class="light center"> Використовуючи нашу систему, Ви дізнаєтесь в яких областях вам необхіно покращити знання</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
</div>
