@import "materialize";
a:hover,a:visited,a:active,a:link
{
	color: white;
	text-decoration: none;
}
html , body 
{
	width: 100%;
	height: 100%;
	background-color: #E2E2E2;
	margin:0 !important;
}

.section
{
	float: top;
}
