// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$standartGray: #436363;
$cyanDark: #006064;
$darkMint: #004d40;
$cayanLight: #00838F;
.sign-in
{
    background-color: $cyanDark;
    &:hover
    {
        background-color: black;
    }
}

.user-sign-in
{
  background-color: $cayanLight;
  &:hover
  {
      background-color: #007580;
  }
}

.slider .indicators .indicator-item
{
	-color: $standartGray;
}

blockquote
{
	border-color: $cyanDark;
}

.button
{
  width:auto;
  margin: auto auto 10% auto;
}

.mdi-action-perm-contact-cal , .mdi-social-domain
{
  color: $darkMint;
  font-size: 140px;
  margin: auto auto -7%;
}
