// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* First picture css (Change colors)*/
.img_block .content_block {
    width: 80%;
    height: 600px;
    background:#f6f6f6;
    text-align:center;
    min-height:250px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    border-width: 4px; 
    border-style: solid; 
    border-color: #DDDDDD;
    box-shadow: 10px 10px 6px -6px #777777; 
    margin-left: 10%;
    margin-top: 20px;
}
.img_block a.content_block {
    display:block;
    position: relative;
    overflow:hidden;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor:pointer;
}
.img_block a.content_block .over_block {
    background-color:rgba(0, 160, 150, 0);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 9900;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.img_block a.content_block:hover .over_block {
    display:block;
    background-color:rgba(0, 160, 150, 0.7);
}
.img_block a.content_block span {
    background: rgba(0, 92, 44, 0.5);
    width:100%;
    height:0px;
    text-transform:uppercase;
    font-size:11px;
    line-height:60px;
    position:absolute;
    display:block;
    bottom:0px;
    left:0;
    z-index: 9910;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.img_block a.content_block:hover span {
    bottom:0;
    height:60px;
    color: #ffffff;
}

.about,.stat,.sign,.contact
{
	height: 1000px;	/*To test (Change it)*/
}

/* Sign in */
.demo-2 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}