// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
head,body
{
	height: 100%;
	width:100%;
}
.left-navbar
{
	height: auto;
}

.responsive-img
{
 margin-top: 10%;
}

.mdi-toggle-check-box, .mdi-action-account-balance, .mdi-action-trending-up
{
	font-size: 160px;
}

.items-content
{
	position: relative;
	padding-left: 10%;
	.check-button
	{
		  background-color: #006064;
    	&:hover
    	{
        	background-color: black;
    	}
	}
}

.pagination li.active {
    background-color: #303030;
}
