<footer class="page-footer cyan darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                  <h5 class="white-text">Додаткова інформація</h5>
                  <p class="grey-text text-lighten-4">Для отримання додаткової інформації про систему оцінювання компетенцій, будь ласка, зверніться до нас за наступною контактною інформацією:</p> 
              </div>

              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Наша адреса:</h5>
                <address>
                  <strong>Check your competenties, Inc.</strong><br>
                    вул. Янгеля, 6<br>
                    Київ, 03056<br>
                    <abbr title="Phone">Тел.:</abbr> (099) 45-67-890
                </address>
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">

            <!-- UPDATED DATE -->
            © 2015 Copyright Text

            <!-- NO LONGER NEEDED INFORMATION-->
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->

            </div>
          </div>
</footer>

<!-- Last edited: Roman Kaporin 09/05/2015 -->