  <header class="head nav">
		<nav id="menu">
			<a class="point" href="#top"> To top </a>
			<a class="point" href="#about"> About us </a>
			<a class="point" href="#table"> Information </a>
			<a class="point" href="#contacts"> Contact </a>
		</nav>
	</header>
	<div class="about">
		<section id="about">
			<center>
				<h1> ABOUT US</h1>
				<h6></h6>
			</center>
		</section>
	</div>
	<div class="table">
		<section id="table">
			<center>
				<h1> INFORMATION </h1>
				<h6></h6>
			</center>
		</section>
	</div>
	<div class="contacts">
		<section id="contacts">
			<center>
				<h1> CONTACT US </h1>
				<h6></h6>
			</center>
		</section>
		<center>
			<button> CONTACT US  </button></center>
	</div>